<div id="<%= dom_id field %>">
  <p>
    <strong>Form:</strong>
    <%= field.form_id %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= field.label %>
  </p>

  <p>
    <strong>Field type:</strong>
    <%= field.field_type %>
  </p>

  <p>
    
  </p>

</div>
